STORAGE_ENDPOINT=http://localhost:9000
STORAGE_ACCESS_KEY=
STORAGE_SECRET_KEY=
STORAGE_BUCKET=hrflow-uploads
STORAGE_PUBLIC_URL=
STORAGE_REGION=auto

TOKEN_SECRET=
TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION=

DB_USERNAME=
DB_PASSWORD=

ADMIN_EMAIL=
ADMIN_PASSWORD=